#home{
		width: 7vw;
		height: auto;
		margin-top: 2%;
		float: right;
		margin-right: 2%;
	}
	#back{
		width: 15vw;
		height: auto;
		float: left;
		margin-top: 2%;
	}
	#mark1{
		width: 20vw;
		height: auto;
		float: left;
		margin-top: 11%;
		margin-left: -2%;
	}
	#mark2{
		width: 19vw;
		height: auto;
		float: left;
		margin-top: 27%;
		margin-left: -13%;		
	}
	#mark3{
		width: 25vw;
		height: auto;
		float: left;
		margin-top: 39%;
		margin-left: -31%;						
	}
	#mark4{
		width: 20vw;
		height: auto;
		float: left;
		margin-top: 20%;
		margin-left: 25%;
	}
	#mark5{
		width: 20vw;
		height: auto;
		float: left;
		margin-top: 34%;
		margin-left: -20%;		
	}
	#close{
		float: right;
		width: 5vw;
		height: auto;
		margin-top: 12%;
		margin-right: -8%;

	}
    #pic1{
		width: 47vw;
		height: auto;
		position:absolute;
		left:2%;
		top:26%;
	}
	#pic2{
		width: 47vw;
		height: auto;
		position:absolute;
		left:2%;
		top:50%;
	}
	#pic3{
		width: 47vw;
		height: auto;
		position:absolute;
		left:2%;
		top:74%;
	}
	#pic4{
		width: 47vw;
		height: auto;
		float: right;	
		position:absolute;
		right:2%;
		top:26%;
	}
	#pic5{
		width: 47vw;
		height: auto;
		float: right;	
		position:absolute;
		right:2%;
		top:50%;	
	}
	#pic6{
		width: 47vw;
		height: auto;
		float: right;	
		position:absolute;
		right:2%;
		top:74%;
	}
	#ifm{
      width: 68vw;
      height: 28vh;
      margin-left: 15.5%;
      border:none;
      border-radius: 8px;
      background-color: rgba(255,255,255,0.8);
    }
     #nextpic{
      float: left;
      width: 10vw;
      height: auto;
      margin-top: 26%;
      margin-left: -18%;

    }
    #backpic{
      float: right;
      width: 10vw;
      height: auto;
      margin-top: 26%;
      margin-right: -12%;
    }
    #main{
      width: 68vw;
      margin-top: 11%;
    }
    #title{
      margin-top: -5%;
      width: 20vw;
      margin-left: 18%;

    }
    #title1{
      margin-top: -5%;
      width: 15vw;
      margin-left: 18%;

    }
    #title4{
      margin-top: -5%;
      width: 25vw;
      margin-left: 18%;

    }
    #title5{
      margin-top: -5%;
      width: 25vw;
      margin-left: 18%;

    }
    #title6{
      margin-top: -5%;
      width: 25vw;
      margin-left: 18%;

    }